<%- include('partials/header') -%>

<h1><%= header %> </h1>
<p><%= content %> </p>

<div class="wrapper">  

    <% newPosts.forEach(post =>{%>
        <div class="post-wrap">
            <h2 class="post-title"><%= post.title %></h2>
            <p class="post-content"> 
                <%=((post.message).substring(0, 110))%>
                <a href='/posts/<%= post.title %>'>
                    Read More 
                </a>
            </p>
        </div>
    <% })%>
</div>


<%- include('partials/footer') -%>